h1{
    color: #005bc2;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav-right {
    float: right;
    padding-right: 50px;
    padding-top: 30px;
  }

  .titlesection {
    display: flex;
    padding-left: 50px;
    padding-top: 30px;
    
         
  }

  .titlesection .titlename {
    padding-left: 50px;
    padding-top: 30px;
    
    line-height: 0;
    color:white;
    position:absolute;
    font-size: 4vw;

  }

  .titlesection img {
    display:flex;
    max-width: 100%; 
}

  .subtitle {
    
    position: relative;
    display: flex;
    padding-left: 50px;
    padding-top: 30px;
    font-size: 20px;
}

img {
  height: 90px;
  width: 70px;}
        


  .searchbox {
    max-width: 500px;
    margin: auto;
    padding-top: 250px;
  }

  input[type=text], select {
    place-items: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }

  input.rounded {

    border: 1px solid #ccc;
     
    /* Safari 5, Chrome support border-radius without vendor prefix.
     * FF 3.0/3.5/3.6, Mobile Safari 4.0.4 require vendor prefix.
     * No support in Safari 3/4, IE 6/7/8, Opera 10.0.
     */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
    /* Chrome, FF 4.0 support box-shadow without vendor prefix.
     * Safari 3/4/5 and FF 3.5/3.6 require vendor prefix.
     * No support in FF 3.0, IE 6/7/8, Opera 10.0, iPhone 3.
     * change the offsets, blur and color to suit your design.
     */
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    
    /* using a bigger font for demo purposes so the box isn't too small */
    font-size: 20px;
    
    /* with a big radius/font there needs to be padding left and right
     * otherwise the text is too close to the radius.
     * on a smaller radius/font it may not be necessary
     */
    padding: 4px 7px;
    
    /* only needed for webkit browsers which show a rectangular outline;
     * others do not do outline when radius used.
     * android browser still displays a big outline
     */
    outline: 0;
  
    /* this is needed for iOS devices otherwise a shadow/line appears at the
     * top of the input. depending on the ratio of radius to height it will
     * go all the way across the full width of the input and look really messy.
     * ensure the radius is no more than half the full height of the input, 
     * and the following is set, and everything will render well in iOS.
     */
    -webkit-appearance: none;
    
  }
  

body {
    background-color: rgb(243, 243, 243);
}

